

 


body {
    font-family: Arial, sans-serif;
    background-color: #00baf8;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: right;
    color: #333;
}

form {
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    margin: 0 auto;
}

table {
    width: 100%;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

input[type="text"],
input[type="date"],
input[type="tel"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 16px;
}

button {
    background-color: #53be53;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0bb1e9;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.success {
    color: rgb(99, 198, 244);
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}


/* Modal Popup Styling */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.4); /* Black background with opacity */
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 400px;
    text-align: center;
}

.close-btn {
    color: #333;
    font-size: 20px;
    font-weight: bold;
    float: right;
    cursor: pointer;
}

.close-btn:hover {
    color: #999;
}

 /* Image Styling and Interaction */
 .interactive-image {
    display: block;
    max-width: 600px;
    margin: 20px auto;
    transition: transform 0.3s ease;
}

.popup {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.error { border: 2px solid red; } 

.interactive-image, h1 {
    display: none;
}



/* Button Hover Effect */
.cookie-consent button:hover {
    background-color: #0056b3; /* Darker shade on hover */
}
